body {
    margin: 0px;
    background-color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 13px;
}

input, textarea {
    border: 1px solid #bbbbbb;
}

textarea {
    width: 99%;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    font-variant: small-caps;
    border-bottom: 1px dotted silver;
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 span {
    float: right;
    font-weight: normal;
    font-size: 15px;
}

h2 span a {
    color: black;
    text-decoration: none;
}

h2 span a.link {
    color: blue;
    text-decoration: underline;
}

h2 span a.selected {
    background-color: #4A8BF5;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div.error {
    background-color: #F4F596;
    border: 1px solid #E4E58D;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

div.message {
    background-color: #D8DFEA;
    border: 1px solid silver;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

h1:first-letter, h2:first-letter, div.error:first-letter, div.message:first-letter {
    text-transform: capitalize;
}

input[type='submit'], input[type='button'] {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

input[type='submit']:hover, input[type='button']:hover {
    background-color: #4A8BF5;
    color: white;
}

table#header_menu {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    padding: 0px;
    background-color: #3768B8;
    border-bottom: 1px solid #315898;
    color: white;
}

table#header_menu td {
    height: 40px;
    padding: 0px;
}

table#header_menu td#logo {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
    width: 150px;
}

table#header_menu td#logo a {
    color: white;
    border-width: 0px;
}

table#header_menu td#logo img {
    border-width: 0px;
}

table#header_menu td#finder {
    padding-left: 10px;
}

table#header_menu td#finder input {
    border: 1px solid #315898;
}

table#header_menu td#finder input#b_find {
    background-color: #333333;
    border: 1px outset #333333;
    color: white;
}

table#header_menu td#stats {
    text-align: right;
    font-size: 12px;
}

table#header_menu td#stats span {
    padding-right: 10px;
}

div#left_menu {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 150px;
    padding: 0px;
    padding-top: 45px;
    text-align: center;
    overflow: auto;
    background-color: white;
    border-right: 1px solid #cccccc;
}

div#left_menu div#d_b_create {
    margin-top: 30px;
    margin-bottom: 30px;
}

div#left_menu a#b_create {
    background-color: #D74937;
    color: white;
    border: 1px solid #AB3C2E;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div#left_menu ul {
    text-align: left;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

div#left_menu ul li {
    text-transform: capitalize;
    color: black;
    font-size: 15px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

div#left_menu li:hover {
    background-color: #D8DFEA;
    cursor: pointer;
}

div#left_menu li.selected {
    background-color: #4A8BF5;
    color: white;
}

div#left_menu ul li span {
    float: right;
}

div#main_div {
    margin-top: 50px;
    margin-left: 155px;
    padding: 5px;
}

div#shadow_box {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: none;
}

div.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 50%;
    padding: 5px;
    background-color: #f1f1f1;
    border: 3px solid #aaaaaa;
    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    display: none;
    overflow: auto;
}

div.popup h1 {
    font-size: 18px;
    text-align: left;
    color: #222222;
    margin-top: 0px;
    margin-bottom: 0px;
}

a.b_close {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #222222;
}

a.b_close:hover {
    cursor: pointer;
}

div.d_options {
    display: table;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c1c1c1;
    border: 1px solid #777777;
}

div.d_options div.option, div.d_options div.option_s {
    display: inline-block;
    margin: 0px;
    padding: 3px;
    color: black;
}

div.d_options div.option:hover {
    cursor: pointer;
}

div.d_options div.option_s {
    background-color: #3768B8;
    color: white;
}

div.d_hidden {
    display: none;
}

div.d_right {
    text-align: right;
    margin: 5px;
}

div.d_list div.element, div.d_list div.element_c {
    width: 180px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
}

div.d_list div.element:hover {
    background-color: #D8DFEA;
}

div.d_list div.element_c:hover {
    background-color: #D8DFEA;
    cursor: pointer;
}

div.d_list div.element:first-letter, div.d_list div.element_c:first-letter {
    text-transform: capitalize;
}

div.rounded, div.rounded2 {
    background-color: white;
    border: 1px solid silver;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.rounded2 {
    display: table;
}

div#finder_ressults div.rounded {
    border: 2px solid #3768B8;
}

div#question_info {
    min-height: 240px;
}

div.questions {
    display: table;
    width: 100%;
}

div.questions div.question_box {
    display: table-row;
}

div.questions div.question_box:hover {
    background-color: #D8DFEA;
    cursor: pointer;
}

div.questions div.question_box div.reward {
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    padding: 5px;
    margin-right: 5px;
}

div.questions div.question_box div.question {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
    min-height: 30px;
}

div.questions div.question_box div.question div.resume {
    margin-top: 3px;
}

div.answers {
    display: table;
    width: 100%;
}

div.answers div.answer_box, div.answers div.answer_box2 {
    display: table-row;
}

div.answers div.answer_box2 {
    background-color: #D8DFEA;
}

div.answers table.grade {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    width: 80px;
}

div.answers table.grade td {
    color: transparent;
    font-weight: bold;
}

div.answers span.grade {
    font-size: 20px;
    color: black;
}

div.answers table.grade td.add_grade, table.grade td.minus_grade {
    min-width: 20px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div.answers table.grade td.mark_solution {
    padding-left: 3px;
    padding-right: 3px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
}

div.answers table.grade:hover td.add_grade,
div.answers table.grade:hover td.minus_grade,
div.answers table.grade:hover td.mark_solution {
    background-color: #333333;
    color: white;
}

div.answers table.grade td.add_grade:hover,
div.answers table.grade td.minus_grade:hover,
div.answers table.grade td.mark_solution:hover {
    cursor: pointer;
}

div.answers table.grade td.add_grade:hover {
    background-color: green;
}

div.answers table.grade td.minus_grade:hover {
    background-color: red;
}

div.answers table.grade td.mark_solution:hover {
    background-color: #4A8BF5;
}

div.answers div.answer, div.answer_s {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
}

div.answers div.answer_s {
    border: 3px double #4A8BF5;;
}

span.nick, span.nick_c {
    font-weight: bold;
    margin-right: 5px;
}

span.nick_c:hover {
    cursor: pointer;
}

a.nick {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}

span.community, span.community_c {
    background-color: #F4F596;
    border: 1px solid #E4E58D;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

span.community_c:hover {
    cursor: pointer;
}

a.community {
    background-color: #F4F596;
    color: black;
    border: 1px solid #E4E58D;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

span.tag, span.num_answers {
    background-color: #555555;
    color: white;
    font-weight: bold;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    padding-left: 3px;
    padding-right: 3px;
}

span.tag {
    margin-right: 10px;
}

span.num_answers {
    float: right;
    margin-left: 10px;
}

span.date {
    float: right;
    padding-left: 10px;
}

div.reward2 {
    float: left;
    font-size: 22px;
    padding: 5px;
    margin-right: 5px;
    background-color: #93DE8E;
    border: 1px solid silver;
    text-align: center;
}

div.reward2 a {
    font-size: 12px;
    color: black;
}

div.long_text {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.code {
    border: 1px dashed #333333;
    padding: 5px;
    margin: 5px;
}

big {
    font-size: 22px;
}

small {
    font-size: 11px;
}

table#chat_form_table {
    width: 100%;
    margin-bottom: 10px;
}

table#chat_form_table td#b_send {
    width: 70px;
}

table#chat_form_table input#i_chat_text {
    width: 99%;
}

div#chat_log {
    margin-top: 5px;
}

div#chat_log table {
    width: 100%;
}

div#chat_log table td {
    vertical-align: top;
}

td.user_list {
    text-align: right;
    vertical-align: top;
    width: 260px;
}

div.chat_msg, div.chat_msg2 {
    padding: 5px;
    min-height: 30px;
}

div.chat_msg:first-letter, div.chat_msg2:first-letter {
    text-transform: uppercase;
    font-size: 1.2em;
}

div.chat_msg2 {
    background-color: #D8DFEA;
}


div#copyright {
    text-align: center;
}
