{% if ke_data.errormsg %}
<div class="error">{{ ke_data.errormsg }}</div>
{% endif %}

{% if ke_data.message %}
<div class="message">{{ ke_data.message }}</div>
{% endif %}

<div class="answers">
{% for a in answers %}
<div class="{{ loop.cycle('answer_box', 'answer_box2') }}">
    <table class="grade">
    <tr>
        <td rowspan="2" class="grade" id="answer_grade_{{ a.id }}">{{ a.grade }}</td>
        <td class="add_grade" onclick="vote_answer('{{ a.id }}', true)" title="votar positivamente">+</td>
    </tr>
    <tr>
        <td class="minus_grade" onclick="vote_answer('{{ a.id }}', false)" title="votar negativamente">-</td>
    </tr>
    {% if not question.is_solved() and (ke_data.user.id == question.user.id or ke_data.user.is_admin()) %}
    <tr>
        <td colspan="2" class="mark_solution" onclick="mark_solution('{{ a.id }}')" title="marcar como solución válida">es la solución</td>
    </tr>
    {% endif %}
    </table>
    {% if a.id == answer.id %}
    <div class="answer_s">
    {% else %}
    <div class="answer">
    {% endif %}
        <a name="{{ a.num }}">@{{ a.num }} </a>
        <a class="nick" href="{{ a.user.get_link() }}">{{ a.user.nick }}</a>
        <span class="date">{{ a.created|timesince }}</span>
        <div class="long_text">{{ a.text|safe|urlize|linebreaks }}</div>
    </div>
</div>
{% endfor %}
</div>
