{% include "header.html" %}

<script type="text/javascript" src="/static/community.js"></script>

<div class="rounded">
    <h2>
        {{ community.name }}
        <span>{{ community.created }}</span>
    </h2>
    <div class="long_text">{{ community.description|safe|urlize }}</div>
    <form action="/join_community">
    <input type="hidden" name="name" value="{{ community.name }}"/>
    <table width="100%">
    <tr>
        <td>
        {% if community in ke_data.user.communities %}
            <input type="submit" value="abandonar"/> Eres miembro de esta comunidad
        {% else %}
            <input type="submit" value="unirme"/> No formas parte de esta comunidad
        {% endif %}
            | hay <b>{{ community.num_users }}</b> miembros.
        </td>
        <td align="right">
        {% if ke_data.user.is_admin() %}
            <input type="button" value="editar" onclick="edit_community('{{ community.id }}')"/>
        {% endif %}
        </td>
    </tr>
    </table>
    </form>
</div>

<table width="100%">
<tr>
    <td valign="top">
    <div class="rounded">
        <h2>
            Lista de preguntas:
            <span>ordenar por:
                <a href="{{ community.get_link() }}/author" {{ "author"|highlight_order(order) }}>autor</a> |
                <a href="{{ community.get_link() }}/created" {{ "created"|highlight_order(order) }}>creada</a> |
                <a href="{{ community.get_link() }}/status" {{ "status"|highlight_order(order) }}>estado</a> |
                <a href="{{ community.get_link() }}/updated" {{ "updated"|highlight_order(order) }}>modificada</a> |
                <a href="{{ community.get_link() }}/reward" {{ "reward"|highlight_order(order) }}>recompensa</a>
            </span>
        </h2>
        
        <div class="questions">
        {% for q in questions %}
            <div class="question_box">
                <div class="reward">{{ q.reward }}</div>
                <div class="question" onclick="jump2url('{{ q.get_link() }}')">
                    <span class="tag">{{ q.get_status() }}</span>
                    <span class="nick">{{ q.user.nick }}</span>
                    <span class="num_answers">{{ q.num_answers }}</span>
                    <span class="date">{{ q.updated|timesince }}</span>
                    <div class="resume">{{ q.get_resume() }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
        
        <table width="100%">
        <tr>
        {% if prevp >= 0 %}
            <td><a href="{{ community.get_link() }}/{{ order }}/{{ prevp }}">anteriores</a></td>
        {% endif %}
        {% if questions|length == 50 %}
            <td align="right"><a href="{{ community.get_link() }}/{{ order }}/{{ nextp }}">siguientes</a></td>
        {% endif %}
        </tr>
        </table>
    </div>
    </td>
    <td class="user_list">
    <div>{{ ke_data.adsenses|safe }}</div>
    <br/>
    <div class="rounded">
        <h2>Miembros:</h2>
        <div class="d_list">
        {% for u in community.users %}
            <div class="element_c" onclick="jump2url('{{ u.get_link() }}')">{{ u.nick }} ({{ u.points }})</div>
        {% endfor %}
        </div>
    </div>
    </td>
</tr>
</table>

{% include "footer.html" %}
