{% include "header.html" %}

<script type="text/javascript" src="/static/community.js"></script>

<div class="rounded">
    <h2>{{ community.name }}</h2>
    <div class="chat_msg">
        {{ community.description|safe|urlize }}
        <span class="date">{{ community.created|timesince }}</span>
        <span class="tag">Usuarios: {{ community.num_users }}</span>
    </div>
    <form action="/join_community">
    <input type="hidden" name="name" value="{{ community.name }}"/>
    <table width="100%">
    <tr>
        <td>
        {% if community in ke_data.user.communities %}
            <input type="submit" value="abandonar"/> Eres miembro de esta comunidad
        {% else %}
            <input type="submit" value="unirme"/> No formas parte de esta comunidad
        {% endif %}
        </td>
        <td align="right">
        {% if ke_data.user.is_admin() %}
            <input type="button" name="remove" value="borrar" onclick="remove_community('{{ community.id }}')"/>
            <input type="button" name="edit" value="editar" onclick="edit_community('{{ community.id }}')"/>
        {% endif %}
        </td>
    </tr>
    </table>
    </form>
</div>

<table width="100%">
<tr>
    <td valign="top">
    <div class="rounded">
        <h2>
            Lista de preguntas:
            <span>ordenar por:
                <a href="{{ community.get_link() }}/created">creada</a> |
                <a href="{{ community.get_link() }}/updated">modificada</a> |
                <a href="{{ community.get_link() }}/reward">recompensa</a> |
                <a href="{{ community.get_link() }}/status">estado</a>
            </span>
        </h2>
        {% for q in questions %}
            <div class="reward">{{ q.reward }}</div>
            <div class="chat_msg_c" onclick="jump2url('{{ q.get_link() }}')">
                <span class="nick">{{ q.user.nick }}</span>
                <span class="date">{{ q.updated|timesince }}</span>
                <span class="tag">{{ q.num_answers }} respuestas</span>
                <span class="tag">{{ q.get_status() }}</span>
                <br/>
                {{ q.get_resume() }}
            </div>
        {% endfor %}
        <table width="100%">
        <tr>
        {% if prevp >= 0 %}
            <td><a href="{{ community.get_link() }}/{{ order }}/{{ prevp }}">anteriores</a></td>
        {% endif %}
        {% if questions|length == 50 %}
            <td align="right"><a href="{{ community.get_link() }}/{{ order }}/{{ nextp }}">siguientes</a></td>
        {% endif %}
        </tr>
        </table>
    </div>
    </td>
    <td class="user_list">
    <div>{{ ke_data.adsenses|safe }}</div>
    <br/>
    <div class="rounded">
        <h2>Miembros:</h2>
        <div class="d_list">
        {% for u in community.users %}
            <div class="element_c" onclick="jump2url('{{ u.get_link() }}')">{{ u.nick }} ({{ u.points }})</div>
        {% endfor %}
        </div>
    </div>
    </td>
</tr>
</table>

{% include "footer.html" %}
