{% include "header.html" %}

<script type="text/javascript" src="/static/community.js"></script>

<div class="rounded">
    <h2>
        Editar comunidad: <a href="{{ community.get_link() }}">{{ community.id }}</a>
        <span>{{ community.created }}</span>
    </h2>
    <form name="f_edit_community" method="POST">
        <table width="100%">
        <tr>
            <td width="160px" align="right">Nombre de la comunidad:</td>
            <td><input type="text" name="name" value="{{ community.name }}" maxlength="20"/></td>
        </tr>
        <tr>
            <td align="right">Descripción:</td>
            <td><input type="text" name="description" value="{{ community.description }}" size="90" maxlength="200"/></td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="remove"/>
                <input type="button" value="borrar" onclick="remove_community('{{ community.id }}')"/>
            </td>
            <td align="right"><input type="submit" value="guardar"/></td>
        </tr>
        </table>
    </form>
</div>

{% include "footer.html" %}
