{% include "header.html" %}

<script type="text/javascript">
    function load_answers() {
        $.ajax({
            type: 'POST',
            url: '/answers',
            dataType: 'html',
            data: 'idq={{ question.id }}&order=normal',
            success: function(datos) {
                $("#question_answers").html(datos);
            }
        });
    }
    function vote_answer(ida, positive) {
        var texto;
        if(positive)
            texto = 'ida='+ida+'&option=positive';
        else
            texto = 'ida='+ida+'&option=negative';
        $.ajax({
            type: 'POST',
            url: '/vote_answers',
            dataType: 'html',
            data: texto,
            success: function(datos) {
                if(datos.substring(0, 2) == 'OK')
                {
                    var messg2 = datos.split(';');
                    $("#answer_grade_"+messg2[1]).html(messg2[2]);
                    $("#current_user_points").html("Tienes <b>"+messg2[3]+"</b> puntos");
                }
                else { alert(datos); }
            }
        });
    }
    function mark_solution(ida) {
        $.ajax({
            type: 'POST',
            url: '/vote_answers',
            dataType: 'html',
            data: 'ida='+ida+'&option=solution',
            success: function(datos) {
                if(datos.substring(0, 2) == 'OK')
                { window.location.reload(); }
                else
                { alert(datos); }
            }
        });
    }
    $(document).ready(function() {
        load_answers();
        $("#remove_question").click(function() {
            if( confirm('Estas completamente seguro de querer eliminar esta pregunta?') )
            {
                document.f_edit_question.remove.value = '{{ question.id }}';
                document.f_edit_question.submit();
            }
        });
    });
</script>

<div class="rounded">
    <h2>
        Editar pregunta: <a href="{{ question.get_link() }}">{{ question.id }}</a>
        <span>{{ question.updated|timesince }}</span>
    </h2>
    <form name="f_edit_question" method="POST">
        <textarea rows="15" name="text">{{ question.text }}</textarea>
        <div>
            <a href="/community_list">Comunidades:</a>
            {% for c in communities%}
                {% if c in question.communities %}
                <input type="checkbox" name="communities" value="{{ c.id }}" checked/>{{ c.name }}
                {% else %}
                <input type="checkbox" name="communities" value="{{ c.id }}"/>{{ c.name }}
                {% endif %}
            {% endfor %}
            &nbsp; | &nbsp; <b>Estado:</b>
            <select name="status">
            {% for s in range(30) %}
                {% if question.get_status(s) != 'estado desconocido' %}
                    {% if question.status == s %}
                        <option value="{{ s }}" selected>{{ question.get_status(s) }}</option>
                    {% else %}
                        <option value="{{ s }}">{{ question.get_status(s) }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <br/>
        <table width="100%">
        <tr>
            {% if ke_data.user.is_admin() %}
                <td>
                    <input type="hidden" name="remove"/>
                    <input type="button" value="borrar" id="remove_question"/>
                </td>
            {% endif %}
            <td align="center">
                Autor: <a href="{{ question.user.get_link() }}">{{ question.user.nick }}</a> |
                Creada: {{ question.created }} |
                Recompensa: {{ question.reward }} puntos.
            </td>
            {% if ke_data.user.id == question.user.id or ke_data.user.is_admin() %}
                <td align="right"><input type="submit" value="guardar"/></td>
            {% endif %}
        </tr>
        </table>
    </form>
</div>

<div class="message">No olvides votar las mejores respuestas, especialmente la que sea la solición.
    Pon el puntero sobre los números de la izquierda para que aparezcan los controles</div>

<div class="rounded">
    <h2>Respuestas: {{ question.num_answers }}</h2>
    <div id="question_answers"></div>
</div>

{% include "footer.html" %}
