{% include "header.html" %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#remove_community").click(function() {
            if( confirm('Estas completamente seguro de querer eliminar esta comunidad?') )
            {
                document.f_edit_community.remove.value = '{{ community.id }}';
                document.f_edit_community.submit();
            }
        });
    });
</script>

<div class="rounded">
    <h2>
        Editar comunidad: <a href="{{ community.get_link() }}">{{ community.id }}</a>
        <span>{{ community.created }}</span>
    </h2>
    <form name="f_edit_community" method="POST">
        <table width="100%">
        <tr>
            <td width="160px" align="right">Nombre de la comunidad:</td>
            <td><input type="text" name="name" value="{{ community.name }}" maxlength="20" disabled/></td>
        </tr>
        <tr>
            <td align="right">Descripción:</td>
            <td><input type="text" name="description" value="{{ community.description }}" size="90" maxlength="200"/></td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="remove"/>
                <input type="button" value="borrar" id="remove_community"/>
            </td>
            <td align="right"><input type="submit" value="guardar"/></td>
        </tr>
        </table>
    </form>
</div>

{% include "footer.html" %}
