{% include "header.html" %}

<script type="text/javascript">
    $(document).ready(function() {
        document.f_finder.query.focus();
    });
</script>

<div id="finder_ressults">
    <div class="rounded">
        <h2>resultados de la búsqueda "{{ ke_data.query }}":</h2>
        <div class="questions">
        {% for q in questions %}
            <div class="question_box">
                <div class="reward">{{ q.reward }}</div>
                <div class="question" onclick="jump2url('{{ q.get_link() }}')">
                    <span class="tag">{{ q.get_status() }}</span>
                    <span class="nick">{{ q.user.nick }}</span>
                    <span class="num_answers">{{ q.num_answers }}</span>
                    <span class="date">{{ q.updated|timesince }}</span>
                    <div class="resume">{{ q.get_resume() }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="message">
        ¿No encuentras lo que buscas? Usa el botón <b>crear</b> y escribe tus dudas y/o preguntas!
    </div>
</div>

{% include "footer.html" %}
