<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>{{ ke_data.appname }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ ke_data.appname }}" />
    <meta name="description" content="{{ ke_data.appname }}" />
    <meta name="Robots" content="all" />
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    <script type="text/javascript" src="/static/base.js"></script>
</head>
<body>
<table id="header_menu">
    <tr>
        <td id="logo"><a href="/">{{ ke_data.appdomain }}</a></td>
        <td id="finder">
            <form name="f_finder" onsubmit="find_question(); return false">
                <input type="text" name="query" size="30" maxlength="99"/>
                <input id="b_find" type="submit" value="buscar"/>
            </form>
        </td>
        <td id="stats">
            {% if ke_data.user.logged_on %}
                <span id="current_user_points">Tienes <b>{{ ke_data.user.points }}</b> puntos</span>
            {% else %}
                <span>Uptime: {{ ke_data.stats.uptime|timesince }}</span>
                <span>Páginas servidas: {{ ke_data.stats.served_pages }}</span>
            {% endif %}
        </td>
    </tr>
</table>

<div id="left_menu">
    <a id="b_create" href="#" onclick="show_popup('popup_create'); select_option('o_create', 'b_create_question', 'd_create_question')">crear</a>
    <br/><br/>
    <ul>
        {% if ke_data.user.logged_on %}
        <li {{ "log_in"|highlight_page(ke_data.rpage) }} onclick="jump2url('/log_in')">{{ ke_data.user.nick }}</li>
        {% else %}
        <li {{ "log_in"|highlight_page(ke_data.rpage) }} onclick="jump2url('/log_in')">iniciar sesión</li>
        {% endif %}
    </ul>
    <ul>
        <li {{ "index"|highlight_page(ke_data.rpage) }} onclick="jump2url('/')">portada</li>
        <li {{ "community_list"|highlight_page(ke_data.rpage) }} onclick="jump2url('/community_list')">comunidades</li>
        <li {{ "question_list"|highlight_page(ke_data.rpage) }} onclick="jump2url('/question_list')">preguntas</li>
        <li {{ "user_list"|highlight_page(ke_data.rpage) }} onclick="jump2url('/user_list')">usuarios</li>
        <li {{ "stats"|highlight_page(ke_data.rpage) }} onclick="jump2url('/stats')">estadísticas</li>
    </ul>
    <ul>
        <li {{ "chat_room"|highlight_page(ke_data.rpage) }} onclick="jump2url('/chat_room')">chat</li>
    </ul>
</div>

<div id="shadow_box"></div>
<div id="popup_create" class="popup">
    <h1>¿Qué quieres crear? <a class="b_close" href="#" onclick="hide_popup('popup_create')">X</a></h1>
    <div class="d_options" id="o_create">
    <a class="option" id="b_create_community" href="#" onclick="select_option('o_create', 'b_create_community', 'd_create_community')">comunidad</a>
    <a class="option" id="b_create_question" href="#" onclick="select_option('o_create', 'b_create_question', 'd_create_question')">pregunta</a>
    </div>
    <div id="error_create"></div>
    <div class="d_hidden" id="d_create_community">
    {% if ke_data.user.logged_on %}
    <table width="100%">
    <form name="f_create_community" onsubmit="create_community(); return false">
        <tr>
            <td align="right">Nombre de la comunidad:</td>
            <td><input type="text" name="name" value="" maxlength="20"/></td>
        </tr>
        <tr>
            <td align="right">Descripción:</td>
            <td><input type="text" name="description" value="" size="60" maxlength="200"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="d_right">Cuesta 1 punto &nbsp; <input type="submit" value="crear"/></div>
            </td>
        </tr>
    </form>
    </table>
    {% else %}
        <div class="error">Debes estar <a href="/log_in">registrado</a> para esto.</div>
    {% endif %}
    </div>
    <div class="d_hidden" id="d_create_question">
    {% if ke_data.user.logged_on %}
        <form name="f_create_question" onsubmit="create_question(); return false">
            <textarea rows="10" name="text" onclick="clear_text(this,'Escribe tu pregunta...')">Escribe tu pregunta...</textarea>
            <div class="d_right">Cuesta 0 puntos &nbsp; <input type="submit" value="crear"/></div>
        </form>
    {% else %}
        <div class="error">Debes estar <a href="/log_in">registrado</a> para esto.</div>
    {% endif %}
    </div>
</div>

<div id="main_div"/>
<div id="finder_ressults"></div>

{% if ke_data.errormsg %}
<div class="error">{{ ke_data.errormsg }}</div>
{% endif %}
{% if ke_data.message %}
<div class="message">{{ ke_data.message }}</div>
{% endif %}
