<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>{{ ke_data.appname }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ ke_data.appname }}" />
    <meta name="description" content="{{ ke_data.appname }}" />
    <meta name="Robots" content="all" />
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    <script type="text/javascript" src="/static/base.js"></script>
</head>
<body>
<table id="menu_cabecera">
    <tr>
        <td id="logo"><a href="/">{{ ke_data.appdomain }}</a></td>
        <td id="buscador">
            <form>
                <input type="text" name="texto"/>
                <input id="b_buscar" type="submit" value="buscar"/>
            </form>
        </td>
        <td id="stats">
            <span>Uptime: {{ ke_data.stats.uptime|timesince }}</span>
            <span>Páginas servidas: {{ ke_data.stats.served_pages }}</span>
        </td>
    </tr>
</table>

<div id="menu_izquierda">
    <a id="b_crear" href="#" onclick="mostrar_popup('popup_crear')">crear</a>
    <br/><br/>
    <ul>
        {% if ke_data.user.logged_on %}
        <li {{ "loggin"|resaltar_pagina(ke_data.rpage) }}><a href="/loggin">{{ ke_data.user.nick }}</a></li>
        {% else %}
        <li {{ "loggin"|resaltar_pagina(ke_data.rpage) }}><a href="/loggin">iniciar sesión</a></li>
        {% endif %}
    </ul>
    <ul>
        <li {{ "index"|resaltar_pagina(ke_data.rpage) }}><a href="/">portada</a></li>
        <li {{ "community_list"|resaltar_pagina(ke_data.rpage) }}><a href="/community_list">comunidades</a></li>
        <li {{ "question_list"|resaltar_pagina(ke_data.rpage) }}><a href="/question_list">preguntas</a></li>
        <li {{ "user_list"|resaltar_pagina(ke_data.rpage) }}><a href="/user_list">usuarios</a></li>
        <li {{ "stats"|resaltar_pagina(ke_data.rpage) }}><a href="/stats">estadísticas</a></li>
    </ul>
    <ul>
        <li {{ "chat_room"|resaltar_pagina(ke_data.rpage) }}><a href="/chat_room">chat</a></li>
    </ul>
</div>

<div id="caja_sombra"></div>
<div id="popup_crear" class="popup">
    <h1>¿Qué quieres crear? <a class="b_cerrar" href="#" onclick="ocultar_popup('popup_crear')">X</a></h1>
    <div class="opciones" id="o_crear">
    <a class="opcion" id="b_crear_comunidad" href="#" onclick="seleccionar_opcion('o_crear', 'b_crear_comunidad', 'f_crear_comunidad')">comunidad</a>
    <a class="opcion" id="b_crear_pregunta" href="#" onclick="seleccionar_opcion('o_crear', 'b_crear_pregunta', 'f_crear_pregunta')">pregunta</a>
    <a class="opcion" id="b_crear_pagina" href="#" onclick="seleccionar_opcion('o_crear', 'b_crear_pagina', 'f_crear_pagina')">página</a>
    <a class="opcion" id="b_crear_nota" href="#" onclick="seleccionar_opcion('o_crear', 'b_crear_nota', 'f_crear_nota')">nota</a>
    </div>
    <div class="oculto" id="f_crear_comunidad">
    {% if ke_data.user.logged_on %}
    <form action="/community_list" method="POST">
        Nombre de la comunidad: <input type="text" name="name" value="" maxlength="20"/>
        <input type="submit" value="crear"/>
    </form>
    {% else %}
        <div class="error">Debes estar <a href="/loggin">registrado</a> para esto.</div>
    {% endif %}
    </div>
    <div class="oculto" id="f_crear_pregunta">
    <form action="/question_list" method="POST">
        <textarea rows="10" name="text">Escribe tu pregunta...</textarea>
        {% if not ke_data.user.logged_on %}
        Tu email: <input type="text" name="email" size="20" maxlength="50" value=""/>
        {% endif %}
        <input type="submit" value="crear"/>
    </form>
    </div>
    <div class="oculto" id="f_crear_pagina">
    {% if ke_data.user.logged_on %}
    <form>
        Título de la página: <input type="text" name="titulo" value="titulo"/>
        <textarea rows="10">Escribe el contenido de la página...</textarea>
        <input type="submit" value="crear"/>
    </form>
    {% else %}
        <div class="error">Debes estar <a href="/loggin">registrado</a> para esto.</div>
    {% endif %}
    </div>
    <div class="oculto" id="f_crear_nota">
    {% if ke_data.user.logged_on %}
    <form>
        <textarea rows="10">Escribe tu nota...</textarea>
        <input type="submit" value="crear"/>
    </form>
    {% else %}
        <div class="error">Debes estar <a href="/loggin">registrado</a> para esto.</div>
    {% endif %}
    </div>
</div>

<div id="cuerpo"/>
{% if error_msg %}
<div class="error">{{ error_msg }}</div>
{% endif %}
