<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <title>{{ ke_data.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{ ke_data.tags }}" />
    <meta name="description" content="{{ ke_data.description }}" />
    <meta name="Robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="/static/base.css" type="text/css" />
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript">
        function jump2url(url) {
            window.location.href = url;
        }
        $(document).ready(function() {
            {{ ke_data.runonload }}
            
            $("#b_create").click(function(event) {
                event.preventDefault();
                $("#shadow_box").show();
                $('#popup_create').show();
                $('#b_create_question').addClass('option_s');
                $('#b_create_community').removeClass('option_s');
                $('#d_create_community').hide();
                $('#d_create_question').show();
                $('#popup_create').css({
                    left: ($(window).width() - $('#popup_create').outerWidth())/2,
                    top: ($(window).height() - $('#popup_create').outerHeight())/2
                });
                document.f_create_question.text.focus();
            });
            $('#popup_create_close').click(function(event) {
                event.preventDefault();
                $('#popup_create').hide();
                $("#shadow_box").hide();
            });
            $("#b_create_question").click(function(event) {
                event.preventDefault();
                $('#b_create_question').addClass('option_s');
                $('#b_create_community').removeClass('option_s');
                $('#d_create_community').hide();
                $('#d_create_question').show();
                document.f_create_question.text.focus();
            });
            $("#b_create_community").click(function(event) {
                event.preventDefault();
                $('#b_create_question').removeClass('option_s');
                $('#b_create_community').addClass('option_s');
                $('#d_create_question').hide();
                $('#d_create_community').show();
                document.f_create_community.name.focus();
            });
            $("#f_create_question").submit(function(event) {
                event.preventDefault();
                $("#f_create_question_submit").attr("disabled", "disabled");
                var texto = 'option=question&text='+document.f_create_question.text.value;
                if( document.f_create_question.email )
                    texto += '&email='+document.f_create_question.email.value;
                $.ajax({
                    type: 'POST',
                    url: '/create',
                    dataType: 'html',
                    data: texto,
                    success: function(datos) {
                        $("#error_create").html(datos);
                        var jump2link = $("#jump_2_this_link");
                        if(jump2link.length)
                            jump2url( jump2link.attr('href') );
                    }
                });
            });
            $("#f_create_community").submit(function(event) {
                event.preventDefault();
                $("#f_create_community").attr("disabled", "disabled");
                $.ajax({
                    type: 'POST',
                    url: '/create',
                    dataType: 'html',
                    data: 'option=community&name='+document.f_create_community.name.value+'&description='+document.f_create_community.description.value,
                    success: function(datos) {
                        $("#error_create").html(datos);
                        var jump2link = $("#jump_2_this_link");
                        if(jump2link.length)
                            jump2url( jump2link.attr('href') );
                    }
                });
            });
            $("#stats").click(function() {
                jump2url('/help');
            });
        });
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ke_data.analyticsid }}']);
            _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<table id="header_menu">
    <tr>
        <td id="logo"><a href="/"><img src="/img/logo.png" alt="{{ ke_data.appname }}"/></a></td>
        <td id="finder">
            <form name="f_finder" action="/finder" method="post">
                <input type="text" name="query" size="30" maxlength="99" value="{{ ke_data.query }}"/>
                <input id="b_find" type="submit" value="buscar"/>
            </form>
        </td>
        <td id="stats">
            {% if ke_data.user.logged_on %}
                <span id="current_user_points">Tienes <b>{{ ke_data.user.points }}</b> puntos</span>
            {% else %}
                <a href="/log_in">iniciar sesión</a>
            {% endif %}
        </td>
    </tr>
</table>

<div id="left_menu">
    <div id="d_b_create">
        <a id="b_create" href="#" title="crear una pregunta o comunidad">crear</a>
    </div>
    <ul>
        {% if ke_data.user.logged_on %}
        <li>
            <a {{ "log_in"|highlight_page(ke_data.rpage) }} href="/log_in">{{ ke_data.user.nick }} <span>{{ ke_data.notifications }}</span></a>
        </li>
        {% else %}
        <li><a {{ "log_in"|highlight_page(ke_data.rpage) }} href="/log_in">iniciar sesión</a></li>
        {% endif %}
        <li><a {{ "chat_room"|highlight_page(ke_data.rpage) }} href="/chat_room">chat <span>{{ ke_data.stats.chat_users }}</span></a></li>
    </ul>
    <ul>
        <li><a {{ "index"|highlight_page(ke_data.rpage) }} href="/">portada</a></li>
        <li><a {{ "community_list"|highlight_page(ke_data.rpage) }} href="/community_list">comunidades</a></li>
        <li><a {{ "question_list"|highlight_page(ke_data.rpage) }} href="/question_list">preguntas</a></li>
        <li><a {{ "user_list"|highlight_page(ke_data.rpage) }} href="/user_list">usuarios</a></li>
    </ul>
    <ul>
        <li><a {{ "stats"|highlight_page(ke_data.rpage) }} href="/stats">estadísticas</a></li>
        <li><a {{ "help"|highlight_page(ke_data.rpage) }} href="/help">ayuda</a></li>
    </ul>
    {% if ke_data.user.is_admin() %}
    <ul>
        <li><a {{ "admin"|highlight_page(ke_data.rpage) }} href="/admin">admin</a></li>
    </ul>
    {% endif %}
</div>

<div id="shadow_box"></div>
<div id="popup_create" class="popup">
    <h1>¿Qué quieres crear? <a class="b_close" id="popup_create_close">X</a></h1>
    <div class="d_options"><div class="option" id="b_create_community">comunidad</div><div class="option" id="b_create_question">pregunta</div></div>
    <div id="error_create"></div>
    <div class="d_hidden" id="d_create_community">
    {% if ke_data.user.logged_on %}
    <table width="100%">
    <form name="f_create_community" id="f_create_community">
        <tr>
            <td align="right">Nombre de la comunidad:</td>
            <td><input type="text" name="name" value="" maxlength="20"/></td>
        </tr>
        <tr>
            <td align="right">Descripción:</td>
            <td><input type="text" name="description" value="" size="60" maxlength="200"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="d_right">Cuesta 1 punto &nbsp; <input type="submit" id="f_create_community_submit" value="crear"/></div>
            </td>
        </tr>
    </form>
    </table>
    {% else %}
        <div class="error">Debes estar <a href="/log_in">iniciar sesión</a> o <a href="/log_in">crear una cuenta</a></div>
    {% endif %}
    </div>
    <div class="d_hidden" id="d_create_question">
        <form name="f_create_question" id="f_create_question">
            <textarea rows="10" name="text">Escribe tu pregunta...</textarea>
        {% if not ke_data.user.logged_on %}
            Email: <input type="text" name="email" size="20"/> (necesario).
        {% endif %}
            <div class="d_right">Cuesta 0 puntos &nbsp; <input type="submit" id="f_create_question_submit" value="crear"/></div>
        </form>
    </div>
</div>

<div id="main_div"/>

{% if ke_data.errormsg %}
<div class="error">{{ ke_data.errormsg }}</div>
{% endif %}
{% if ke_data.message %}
<div class="message">{{ ke_data.message }}</div>
{% endif %}
