{% include "header.html" %}

<div class="rounded">
    <h2>¿Qué es kelinux?</h2>
    Kelinux.net es una red solical que tiene como misión <b>solucionar todos los problemas que puedas tener con Linux</b>,
    con <b>cualquier distribución</b>: Ubuntu, Linux Mint, Debian, Fedora, OpenSuSE ... y <b>sin importar cuanto sepas de
    informática</b>!<br/><br/>
    En <b>menos de un minuto</b> puedes <a href="/log_in">crear una cuenta</a> y <b>escribir</b> todas las dudas que tengas,
    nuestro software las clasifica, las muestra a los demás usuarios, especialmente a los que más pueden ayudar sobre ese tema,
    y así <b>entre todos</b> las podremos <b>solucionar</b>. Además verás en todo momento los cambios y <b>te notificaremos</b>
    cualquier respuesta.
</div>

<div class="rounded">
    <h2>¿Qué son y para qué sirven los puntos?</h2>
    Los puntos son necesarios para <b>votar las respuestas</b>, y sobre todo, para <b>añadirlos</b> a la
    <b>recompensa de cada pregunta</b>.<br/>
    Las preguntas con una recompensa más alta son más visibles, y el usuario que las resuelve obtiene esa recompensa en puntos.
</div>

<div class="rounded">
    <h2>¿Cómo puedo ganar puntos?</h2>
    <ul>
        <li>Cuando alguien vota positivamente una de tus respuestas, se te suma un punto.</li>
        <li>Si la respuesta que has dado es la solución a la pregunta, obtienes la recompensa de la pregunta en puntos.</li>
        <li>Leer preguntas de otros suma puntos.</li>
        <li>Participar en el chat también suma puntos.</li>
    </ul>
</div>

{% include "footer.html" %}
