{% include "header.html" %}

<div id="new_password_msg"></div>

{% if not ke_data.user.logged_on %}
<table width="100%">
<tr>
<td valign="top">
    <div class="rounded2">
    <h2>Iniciar sesión:</h2>
    <form action="/log_in" method="POST">
    <input type="hidden" name="option" value="log_in"/>
    <table>
        <tr>
            <td align="right">Email:</td>
            <td><input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/></td>
        </tr>
        <tr>
            <td align="right">Contraseña:</td>
            <td><input type="password" name="passwd" size="20" maxlength="20"/></td>
        </tr>
        <tr>
            <td colspan="2"><div class="d_right"><a href="#" onclick="send_me_a_new_password()">He olvidado la contraseña</a> <input type="submit" value="entrar"/></div></td>
        </tr>
    </table>
    </form>
    </div>
</td>
<td valign="top">
    <div class="rounded2">
    <h2>Crear una cuenta:</h2>
    <form action="/log_in" method="POST">
    <input type="hidden" name="option" value="register"/>
    <table>
        <tr>
            <td align="right">Email:</td>
            <td><input type="text" name="email" size="20" maxlength="50"/></td>
            <td align="right">Nick:</td>
            <td><input type="text" name="nick" size="20" maxlength="16"/></td>
        </tr>
        <tr>
            <td align="right">Contraseña:</td>
            <td><input type="password" name="passwd" size="20" maxlength="20"/></td>
            <td align="right">Repetir contraseña:</td>
            <td><input type="password" name="passwd2" size="20" maxlength="20"/></td>
        </tr>
        <tr>
            <td colspan="4"><div class="d_right"><input type="submit" value="registrar"/></div></td>
        </tr>
    </table>
    </form>
    </div>
</td>
</tr>
</table>
{% else %}
<div class="rounded">
    <h2>Hola {{ ke_data.user.nick }}!</h2>
    ¿Deseas ver tu <b>perfil</b>? haz clic <a href="{{ ke_data.user.get_link() }}">aquí</a>.
</div>

<table width="100%">
<tr>
<td valign="top">
    <div class="rounded2">
    <h2>Tus datos de usuario:</h2>
    <form action="/log_in" method="POST">
    <input type="hidden" name="option" value="update"/>
    <table>
    <tr>
        <td align="right">Email:</td>
        <td><input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/></td>
        <td align="right">Nick:</td>
        <td><input type="text" name="nick" size="20" maxlength="16" value="{{ ke_data.user.nick }}"/></td>
    </tr>
    <tr>
        <td align="right">Contraseña:</td>
        <td><input type="password" name="passwd" size="20" maxlength="20"/></td>
    </tr>
    <tr>
        <td align="right">Nueva contraseña:</td>
        <td><input type="password" name="npasswd" size="20" maxlength="20"/></td>
        <td align="right">Repetir nueva contraseña:</td>
        <td><input type="password" name="npasswd2" size="20" maxlength="20"/></td>
    </tr>
    <tr>
        <td colspan="4"><div class="d_right"><input type="submit" value="modificar"/></div></td>
    </tr>
    </table>
    </form>
    </div>
</td>
<td valign="top">
    <div class="rounded2">
        <h2>Salir:</h2>
        Cada vez que abandonas esta web apagamos el servidor, lo desmontamos y lo destruimos ... ¡Cuesta mucho dinero!<br/><br/>
        <form action="/log_in" method="POST">
            <input type="hidden" name="option" value="log_out"/>
            <div class="d_right"><input type="submit" value="cerrar sesión"/></div>
        </form>
    </div>
</td>
</tr>
</table>
{% endif %}

{% include "footer.html" %}
