{% include "header.html" %}

<div id="forgotten_password_msg"></div>

{% if not ke_data.user.logged_on %}
<table width="100%">
<tr>
<td valign="top">
    <div class="rounded2">
    <h2>Iniciar sesión:</h2>
    <form action="/log_in" method="POST">
    <input type="hidden" name="option" value="log_in"/>
    <table>
        <tr>
            <td align="right">Email:</td>
            <td><input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/></td>
        </tr>
        <tr>
            <td align="right">Contraseña:</td>
            <td><input type="password" name="passwd" size="20" maxlength="20"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("#forgotten_password").click(function(event) {
                            event.preventDefault();
                            var email = prompt('Introduce el email que usaste para registrarte:');
                            $.ajax({
                                type: 'POST',
                                url: '/forgotten_password',
                                dataType: 'html',
                                data: 'email='+email,
                                success: function(datos) {
                                    $("#forgotten_password_msg").html(datos);
                                }
                            });
                        });
                    });
                </script>
                <div class="d_right"><a href="#" id="forgotten_password">He olvidado la contraseña</a> <input type="submit" value="entrar"/></div>
            </td>
        </tr>
    </table>
    </form>
    </div>
</td>
<td valign="top">
    <div class="rounded2">
    <h2>Crear una cuenta:</h2>
    <form action="/log_in" method="POST">
    <input type="hidden" name="option" value="register"/>
    <table>
        <tr>
            <td align="right">Email:</td>
            <td><input type="text" name="email" size="20" maxlength="50"/></td>
            <td align="right">Nick:</td>
            <td><input type="text" name="nick" size="20" maxlength="16"/></td>
        </tr>
        <tr>
            <td align="right">Contraseña:</td>
            <td><input type="password" name="passwd" size="20" maxlength="20"/></td>
            <td align="right">Repetir contraseña:</td>
            <td><input type="password" name="passwd2" size="20" maxlength="20"/></td>
        </tr>
        <tr>
            <td colspan="4"><div class="d_right"><input type="submit" value="registrar"/></div></td>
        </tr>
    </table>
    </form>
    </div>
</td>
</tr>
</table>
{% else %}
<table width="100%">
<tr>
<td valign="top">
    <div class="rounded2">
    <h2>Tus datos de usuario:</h2>
    <form action="/log_in" method="POST">
    <input type="hidden" name="option" value="update"/>
    <table>
    <tr>
        <td align="right">Email:</td>
        <td><input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/></td>
        <td align="right">Nick:</td>
        <td><input type="text" name="nick" size="20" maxlength="16" value="{{ ke_data.user.nick }}" disabled/></td>
    </tr>
    <tr>
        <td align="right">Contraseña:</td>
        <td><input type="password" name="passwd" size="20" maxlength="20"/></td>
        <td colspan="2"><a href="/new_password">nueva contraseña</a></td>
    </tr>
    <tr>
        <td align="right">Nueva contraseña:</td>
        <td><input type="password" name="npasswd" size="20" maxlength="20"/></td>
        <td align="right">Repetir nueva contraseña:</td>
        <td><input type="password" name="npasswd2" size="20" maxlength="20"/></td>
    </tr>
    <tr>
        <td align="right">No recibir emails:</td>
        {% if ke_data.user.no_emails %}
            <td><input type="checkbox" name="noemails" value="True" checked="checked"/></td>
        {% else %}
            <td><input type="checkbox" name="noemails" value="True"/></td>
        {% endif %}
        <td colspan="2"><div class="d_right"><input type="submit" value="modificar"/></div></td>
    </tr>
    </table>
    </form>
    </div>
</td>
<td valign="top">
    <div class="rounded2">
        <h2>Salir:</h2>
        Cada vez que abandonas esta web apagamos el servidor, lo desmontamos y lo destruimos ... ¡Cuesta mucho dinero!<br/><br/>
        <form action="/log_in" method="POST">
            <input type="hidden" name="option" value="log_out"/>
            <div class="d_right"><input type="submit" value="cerrar sesión"/></div>
        </form>
    </div>
</td>
</tr>
</table>

<div class="rounded">
    <h2>
        Hola {{ ke_data.user.nick }}!
        <span><a class="link" href="{{ ke_data.user.get_link() }}">ver mi perfil</a></span>
    </h2>
    {% for n in notifications %}
    <div class="{{ loop.cycle('chat_msg', 'chat_msg2') }}">
        {{ n.text|linebreaks }} - <a href="{{ n.link }}">leer...</a>.
        <span class="date">{{ n.date|timesince }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}

{% include "footer.html" %}
