{% include "header.html" %}

{% if not ke_data.user.logged_on %}
<table width="100%">
<tr>
<td valign="top">
    <h1>Iniciar sesión:</h1>
    <div class="redondeado">
    <form action="/loggin" method="POST">
        <input type="hidden" name="option" value="loggin"/>
        Email: <input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/>
        Contraseña: <input type="password" name="passwd" size="20" maxlength="20"/><br/>
        <input type="submit" value="entrar"/>
    </form>
    </div>
</td>
<td valign="top">
    <h1>Registrar:</h1>
    <div class="redondeado">
    <form action="/loggin" method="POST">
        <input type="hidden" name="option" value="register"/>
        Email: <input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/>
        Nick: <input type="text" name="nick" size="20" maxlength="20" value="{{ ke_data.user.nick }}"/><br/>
        Contraseña: <input type="password" name="passwd" size="20" maxlength="20"/>
        Repetir contraseña: <input type="password" name="passwd2" size="20" maxlength="20"/><br/>
        <input type="submit" value="registrar"/>
    </form>
    </div>
</td>
</tr>
</table>
{% else %}
<table width="100%">
<tr>
<td valign="top">
    <h1>Datos de usuario:</h1>
    <div class="redondeado">
    <form action="/loggin" method="POST">
        <input type="hidden" name="option" value="update"/>
        Email: <input type="text" name="email" size="20" maxlength="50" value="{{ ke_data.user.email }}"/>
        Nick: <input type="text" name="nick" size="20" maxlength="20" value="{{ ke_data.user.nick }}"/><br/>
        Contraseña: <input type="password" name="passwd" size="20" maxlength="20"/>
        Nueva contraseña: <input type="password" name="npasswd" size="20" maxlength="20"/>
        Repetir nueva contraseña: <input type="password" name="npasswd2" size="20" maxlength="20"/><br/>
        <input type="submit" value="modificar"/>
    </form>
    </div>
</td>
<td valign="top" align="center">
    <h1>Salir:</h1>
    <form action="/loggin" method="POST">
        <input type="hidden" name="option" value="loggout"/>
        <input type="submit" value="cerrar sesión"/>
    </form>
</td>
</tr>
</table>
{% endif %}

{% include "footer.html" %}
