{% include "header.html" %}

<div class="rounded">
    <h2>
        Lista de preguntas:
        <span>ordenar por:
            <a href="/question_list/author" {{ "author"|highlight_order(order) }}>autor</a> |
            <a href="/question_list/created" {{ "created"|highlight_order(order) }}>creada</a> |
            <a href="/question_list/status" {{ "status"|highlight_order(order) }}>estado</a> |
            <a href="/question_list/updated" {{ "updated"|highlight_order(order) }}>modificada</a> |
            <a href="/question_list/reward" {{ "reward"|highlight_order(order) }}>recompensa</a>
        </span>
    </h2>
    
    <div class="questions">
    {% for q in question_list %}
        <div class="question_box">
            <div class="reward">{{ q.reward }}</div>
            <div class="question" onclick="jump2url('{{ q.get_link() }}')">
                <span class="tag">{{ q.get_status() }}</span>
                <span class="nick">{{ q.user.nick }}</span>
                <span class="num_answers">{{ q.num_answers }}</span>
                <span class="date">{{ q.updated|timesince }}</span>
                <div class="resume">{{ q.get_resume() }}</div>
            </div>
        </div>
    {% endfor %}
    </div>
    
    <table width="100%">
    <tr>
    {% if prevp >= 0 %}
        <td><a href="/question_list/{{ order }}/{{ prevp }}">anteriores</a></td>
    {% endif %}
    {% if question_list|length == 50 %}
        <td align="right"><a href="/question_list/{{ order }}/{{ nextp }}">siguientes</a></td>
    {% endif %}
    </tr>
    </table>
</div>

{% include "footer.html" %}
