{% include "header.html" %}

<script type="text/javascript">
    var load_timeout;
    var answer_order;
    function load_answers() {
        $.ajax({
            type: 'POST',
            url: '/answers',
            dataType: 'html',
            data: 'idq={{ question.id }}&order='+answer_order,
            success: function(datos) {
                $("#question_answers").html(datos);
                load_timeout = setTimeout('load_answers()', 300000);
            }
        });
    }
    function vote_answer(ida, positive) {
        var texto;
        if(positive)
            texto = 'ida='+ida+'&option=positive';
        else
            texto = 'ida='+ida+'&option=negative';
        $.ajax({
            type: 'POST',
            url: '/vote_answers',
            dataType: 'html',
            data: texto,
            success: function(datos) {
                if(datos.substring(0, 2) == 'OK')
                {
                    var messg2 = datos.split(';');
                    $("#answer_grade_"+messg2[1]).html(messg2[2]);
                    $("#current_user_points").html("Tienes <b>"+messg2[3]+"</b> puntos");
                }
                else { alert(datos); }
            }
        });
    }
    function mark_solution(ida) {
        $.ajax({
            type: 'POST',
            url: '/vote_answers',
            dataType: 'html',
            data: 'ida='+ida+'&option=solution',
            success: function(datos) {
                if(datos.substring(0, 2) == 'OK')
                { window.location.reload(); }
                else
                { alert(datos); }
            }
        });
    }
    $(document).ready(function() {
    {% if question.is_solved() %}
        answer_order = 'grade';
        $("#answers_order_grade").addClass('selected');
    {% else %}
        answer_order = 'normal';
        $("#answers_order_normal").addClass('selected');
    {% endif  %}
        load_answers();
        $("#add_reward").click(function(event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/question_reward',
                dataType: 'html',
                data: 'idq={{ question.id }}',
                success: function(datos) {
                    if(datos.substring(0, 2) == 'OK')
                    {
                        var messg2 = datos.split(';');
                        $("#current_user_points").html("Tienes <b>"+messg2[2]+"</b> puntos");
                        $("#question_reward").html(messg2[1]);
                    }
                    else { alert(datos); }
                }
            });
        });
        $("#answers_order_normal").click(function(event) {
            event.preventDefault();
            answer_order = 'normal';
            $("#answers_order_grade").removeClass('selected');
            $("#answers_order_normal").addClass('selected');
            load_answers();
        });
        $("#answers_order_grade").click(function(event) {
            event.preventDefault();
            answer_order = 'grade';
            $("#answers_order_normal").removeClass('selected');
            $("#answers_order_grade").addClass('selected');
            load_answers();
        });
        $("#f_answer").submit(function(event) {
            event.preventDefault();
            $("#f_answer_submit").attr("disabled", "disabled");
            var texto = 'idq={{ question.id }}&text='+document.f_answer.text.value;
            if( document.f_answer.email )
                texto += '&email='+document.f_answer.email.value;
            $.ajax({
                type: 'POST',
                url: '/answers',
                dataType: 'html',
                data: texto,
                success: function(datos) {
                    $("#question_answers").html(datos);
                    document.f_answer.text.value = '';
                    $("#f_answer_submit").removeAttr("disabled");
                }
            });
        });
        $("#edit_question").click(function() {
            window.location.href = '/edit_question/{{ question.id }}';
        });
    });
</script>

<table width="100%">
<tr>
    <td valign="top">
    <div class="rounded" id="question_info">
        <h2>
            {{ question.get_status() }}
            <span>{{ question.updated|timesince }}</span>
        </h2>
        <div class="reward2">
            <span id="question_reward">{{ question.reward }}</span>
            <br/>
            <a href="#" id="add_reward" title="añadir un punto a la recompensa">+1 punto</a>
        </div>
        <div>
            <a class="nick" href="{{ question.user.get_link() }}">{{ question.user.nick }}</a>
            {% for c in question.communities %}
                <a class="community" href="{{ c.get_link() }}">{{ c.name }}</a>
            {% endfor %}
        </div>
        <div class="long_text">{{ question.text|safe|urlize|linebreaks }}</div>
        Creada: {{ question.created|timesince }}.
        <div class="d_right">
        {% if ke_data.user.id == question.user.id or ke_data.user.is_admin() %}
            <form><input type="button" name="edit" value="editar" id="edit_question"/></form>
        {% endif %}
        </div>
    </div>
    </td>
    <td valign="top" width="255px"><div>{{ ke_data.adsenses|safe }}</div></td>
</tr>
</table>

<div class="rounded">
    <h2>Respuestas: {{ question.num_answers }}
        <span>ordenar por:
            <a id="answers_order_grade" href="#">nota</a> |
            <a id="answers_order_normal" href="#">fecha</a>
        </span>
    </h2>
    <div id="question_answers"></div>
    
    <form name="f_answer" id="f_answer">
        <input type="hidden" name="idq" value="{{ question.id }}"/>
        <textarea name="text" rows="6"></textarea>
        {% if not ke_data.user.logged_on %}
            Email: <input type="text" name="email" size="20"/> (necesario).
        {% endif %}
        <input type="submit" id="f_answer_submit" value="enviar"/>
    </form>
</div>

<table width="100%">
<tr>
    <td valign="top">
    <div class="rounded">
        <h2>Código soportado:</h2>
        <table>
        <tr>
            <td align="right">[b]texto[/b]</td>
            <td>=</td>
            <td><b>texto</b></td>
        </tr>
        <tr>
            <td align="right">[i]texto[/i]</td>
            <td>=</td>
            <td><i>texto</i></td>
        </tr>
        <tr>
            <td align="right">[u]texto[/u]</td>
            <td>=</td>
            <td><u>texto</u></td>
        </tr>
        <tr>
            <td align="right">[code]texto[/code]</td>
            <td>=</td>
            <td><div class="code">texto</div></td>
        </tr>
        <tr>
            <td align="right">[big]texto[/big]</td>
            <td>=</td>
            <td><big>texto</big></td>
        </tr>
        <tr>
            <td align="right">[small]texto[/small]</td>
            <td>=</td>
            <td><small>texto</small></td>
        </tr>
        </table>
    </div>
    </td>
    <td valign="top">
    <div class="rounded">
        <h2>Ayuda:</h2>
        <ul>
            <li>El número que aparece dentro del recuadro verde es <b>la recompensa</b> de la pregunta.
            Si la pregunta te interesa puedes añadir uno a uno los puntos que quieras,
            tan solo tienes que hacer clic sobre el enlace <b>+1 punto</b>.</li>
            <li>El número que aparece a la izquierda de cada respuesta es su <b>valoración</b>.
            Si una respuesta te parece buena puede votarla positivamente pulsando la flecha hacia arriva,
            el usuario será premiado con <b>1 punto</b>.
            Si por el contrario te parece mala, que no aporta nada o que es ofensiva, puede votarla
            negativamente pulsando la flecha hacia abajo.</li>
            <li>Si eres el <b>creador de la pregunta</b> puedes <b>marcar la respuesta</b> a tu juicio <b>correcta</b>
            simplemente haciendo click sobre el icono en forma de "v", en la parte más a la izquierda de la respuesta.
            <u>La recompensa de la pregunta será entregada a ese usuario</u> en forma de puntos y <u>la pregunta
            quedará marcada como solucionada</u>.</li>
        </ul>
    </div>
    </td>
</tr>
</table>

{% include "footer.html" %}