{% include "header.html" %}

<h1>Lista de preguntas</h1>

{% if not question_list %}
    <div class="error">Nada que mostrar :(</div>
{% else %}
    <div class="redondeado">
    {% for q in question_list %}
        <div class="reward">{{ q.reward }}</div>
        <div class="chat_msg">
            <span class="nick">{{ q.get_user().nick }}</span>
            <span class="fecha">estado: {{ q.get_status() }} &nbsp; {{ q.created|timesince }}</span>
            <br/>
            {{ q.get_resume() }}
        </div>
    {% endfor %}
    </div>
{% endif %}

{% include "footer.html" %}
