{% include "header.html" %}

<div class="rounded">
    <h2>Lista de preguntas</h2>
    {% for q in question_list %}
        <div class="reward">{{ q.reward }}</div>
        <div class="chat_msg_c" onclick="jump2url('{{ q.get_link() }}')">
            <span class="nick">{{ q.user.nick }}</span>
            <span class="date">{{ q.updated|timesince }}</span>
            <span class="tag">{{ q.num_answers }} respuestas</span>
            <span class="tag">{{ q.get_status() }}</span>
            <br/>
            {{ q.get_resume() }}
        </div>
    {% endfor %}
</div>

{% include "footer.html" %}
