{% include "header.html" %}

{% if not question %}
    <div class="error">Pregunta no encontrada</div>
{% else %}
    <script type="text/javascript" src="/static/question.js"></script>
    <div class="rounded">
        <h2>{{ question.get_status() }}</h2>
        <div class="reward2">
            <span id="question_reward">{{ question.reward }}</span>
            <br/>
            <a href="#" onclick="add_reward('{{ question.id }}')">+1 punto</a>
        </div>
        <div>{{ question.text|linebreaks }}</div>
        <div class="chat_msg">
            <span class="nick_c" onclick="jump2url('{{ question.user.get_link() }}')">{{ question.user.nick }}</span>
            <span>{{ question.created }}</span>
            <span class="date">{{ question.updated|timesince }}</span>
            <span class="tag">{{ question.num_answers }} respuestas</span>
        </div>
    </div>
{% endif %}

{% include "footer.html" %}
