{% include "header.html" %}

<div class="rounded">
    <h2>
        {{ user.nick }}
        <span>{{ user.points }} puntos</span>
    </h2>
    <div>Usuario desde: {{ user.created }}.</div>
</div>

<div class="rounded">
    <h2>{{ user.nick }} es miembro de:</h2>
    <div class="d_list">
    {% for c in user.communities %}
        <div class="element_c" onclick="jump2url('{{ c.get_link() }}')">{{ c.name }} ({{ c.num_users }})</div>
    {% endfor %}
    </div>
</div>

<div class="rounded">
    <h2>
        Preguntas creadas / has participado:
        <span>ordenar por:
            <a href="{{ user.get_link() }}/author" {{ "author"|highlight_order(order) }}>autor</a> |
            <a href="{{ user.get_link() }}/created" {{ "created"|highlight_order(order) }}>creada</a> |
            <a href="{{ user.get_link() }}/status" {{ "status"|highlight_order(order) }}>estado</a> |
            <a href="{{ user.get_link() }}/updated" {{ "updated"|highlight_order(order) }}>modificada</a> |
            <a href="{{ user.get_link() }}/reward" {{ "reward"|highlight_order(order) }}>recompensa</a>
        </span>
    </h2>
    
    <div class="questions">
    {% for q in questions %}
        <div class="question_box">
            <div class="reward">{{ q.reward }}</div>
            <div class="question" onclick="jump2url('{{ q.get_link() }}')">
                <span class="nick">{{ q.user.nick }}</span>
                <span class="date">{{ q.updated|timesince }}</span>
                <span class="tag">{{ q.num_answers }} respuestas</span>
                <span class="tag">{{ q.get_status() }}</span>
                <div class="resume">{{ q.get_resume() }}</div>
            </div>
        </div>
    {% endfor %}
    </div>
    
    <table width="100%">
    <tr>
    {% if prevp >= 0 %}
        <td><a href="{{ user.get_link() }}/{{ order }}/{{ prevp }}">anteriores</a></td>
    {% endif %}
    {% if questions|length == 50 %}
        <td align="right"><a href="{{ user.get_link() }}/{{ order }}/{{ nextp }}">siguientes</a></td>
    {% endif %}
    </tr>
    </table>
</div>

{% include "footer.html" %}
