{% include "header.html" %}

<div class="rounded">
    <h2>{{ user.nick }}</h2>
    Usuario desde: {{ user.created }},
    tiene {{ user.points }} puntos.
</div>

<div class="rounded">
    <h2>{{ user.nick }} es miembro de:</h2>
    <div class="d_list">
    {% for c in user.communities %}
        <div class="element_c" onclick="jump2url('{{ c.get_link() }}')">{{ c.name }} ({{ c.num_users }})</div>
    {% endfor %}
    </div>
</div>

<div class="rounded">
    <h2>
        Lista de preguntas
        <span>ordenar por:
            <a href="{{ user.get_link() }}/created">creada</a> |
            <a href="{{ user.get_link() }}/updated">modificada</a> |
            <a href="{{ user.get_link() }}/reward">recompensa</a> |
            <a href="{{ user.get_link() }}/status">estado</a>
        </span>
    </h2>
    {% for q in questions %}
        <div class="reward">{{ q.reward }}</div>
        <div class="chat_msg_c" onclick="jump2url('{{ q.get_link() }}')">
            <span>{{ q.created }}</span>
            <span class="date">{{ q.updated|timesince }}</span>
            <span class="tag">{{ q.num_answers }} respuestas</span>
            <span class="tag">{{ q.get_status() }}</span>
            <br/>
            {{ q.get_resume() }}
        </div>
    {% endfor %}
    <table width="100%">
    <tr>
    {% if prevp >= 0 %}
        <td><a href="{{ user.get_link() }}/{{ order }}/{{ prevp }}">anteriores</a></td>
    {% endif %}
    {% if questions|length == 50 %}
        <td align="right"><a href="{{ user.get_link() }}/{{ order }}/{{ nextp }}">siguientes</a></td>
    {% endif %}
    </tr>
    </table>
</div>

{% include "footer.html" %}
